@charset "UTF-8";

/* 回答はここに書いてね */

/* Q1 css */
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* 共通css */
.common {
  font-size: 16px;
  width: 225px;
  box-sizing: border-box;
}

.table-parent {
  width: 500px;
  display: table;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

.table-box {
  vertical-align: middle;
  display: table-cell;
  padding-left: 50px;
  width: 225px;

}

.table-box:first-child {
  padding-left: 0;
}

.table-text {
  font-size: 16px;
}

.table-text {
  padding: 10px;
  background: #fff;
}

/* Q3 css */
.inline-parent {
  font-size: 0;
}

.inline-child {
  display: inline-block;
  vertical-align: middle;
  width: 225px;
  margin-right: 50px;

}

.inline-child:last-child {
  margin-right: 0;
}

/* Q4 css */
.flex-parent {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

/* Q5 css */
.q5-parent {
  display: table;
  margin: 0 auto;
  width: 100%;
}

.q5-common {
  display: table-cell;
  text-align: left;
  font-size: 16px;

}

.q5-left {
  width: 300px;
}

.ml-50 {
  margin-left: 50px;
}

.float-box {
  float: left;
  margin-right: 50px;

}

.float-box:last-child {
  margin-right: 0;
}

.table-box
/* 回答はここに書いてね */