@charset "UTF-8";

/* 回答はここに書いてね */
.balloon-container {
  width: 500px;
  margin: 0 auto;

}

.balloon {
  position: relative;
  min-width: 120px;
  max-width: 100%;
  color: #000;
  font-size: 16px;
  background: #FFF;
  border: 5px solid #000;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 20px;
}


.balloon:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 9%;
  border: 15px solid transparent;
  border-top: 12px solid #FFF;
  z-index: 2;
}


.balloon:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 9%;
  border: 14px solid transparent;
  border-top: 11px solid;
  z-index: 1;
}

p {
  font-size: 16px;
  line-height: 16px;
  word-break: break-all
}

/* 回答はここに書いてね */