@charset "UTF-8";

/* 回答はここに書いてね */


.img-container {
  overflow: hidden;
  position: relative;
  width: 500px;
  height: 333px;
  margin: 0 auto;
  cursor: pointer;
}

.car-img {
  transition: all .5s;
}

.text-box {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
  transition: all .5s;
}

.img-container:hover .car-img {
  transform: scale(1.5);
}

.img-container:hover .text-box {
  bottom: 0;
}

.text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #FFF;
  box-sizing: border-box;
  word-break: break-all;
}


.loader {
  /* position: absolute; */
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /* background: #ecf1f2; */
  box-sizing: border-box;
  border: 10px solid #ECF1F2;
  /* 右,左、下の色を消す */
  border-top-color: #00bcd4;
  /* 一秒毎にくるくる回るアニメーション */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    /* opacity: 0.2; */
  }

  50% {
    transform: rotate(180deg);
    /* opacity: 1.0; */
  }

  100% {
    transform: rotate(360deg);
    /* opacity: 0.2; */
  }
}

/*
.circle-box {
  background: #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  top: 10px;
  position: absolute;
  left: 10px;
  box-sizing: border-box;
} */


/* 回答はここに書いてね */