@charset "UTF-8";

/* 回答はここに書いてね */
.bg-container {
  background-color: #ECF1F2;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  font-weight: 900;
  font-size: 28px;
}

.common {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;

}

.one {
  background: #FFEFD3;
  position: relative;
  top: 40px;
  left: 200px;
}



.two {
  background: #7084DE;
  right: 120px;
  top: 120px;
}

.three {
  background: #D0ECEA;
  top: 200px;
  right: 40px;
}

.four {
  background-color: #8B7A5E;
  right: 120px;
  top: 280px;
  z-index: 1;
}

.five {
  background-color: #9FD6D2;
  top: 360px;
  left: 200px;
  z-index: 2;
}

.six {
  background-color: #FFFEE4;
  top: 280px;
  left: 120px;
  z-index: 3;
}

.seven {
  background-color: #DEAE70;
  left: 40px;
  top: 200px;
  z-index: 4;

}

.eight {
  background-color: #DE70CF;
  top: 120px;
  left: 120px;
  z-index: 5;
}

.eight::after {
  width: 20px;
  height: 20px;
  background: #FFEFD3;
  content: '';
  top: 0;
  position: absolute;
  right: 0;
}

.nine {
  background-color: #2B69A3;
  position: fixed;
  top: 10px;
  left: 10px;
}

/* 回答はここに書いてね */