@charset "UTF-8";

/* 回答はここに書いてね */

td,
th {
  border: solid 1px #dedede;
  padding: 10px 0;
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table th {
  background: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}

.table td {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.table tr:nth-child(2n+3) {
  background: #ecf1f2;
}

.table tr:nth-last-child(2) {
  border-bottom: dashed 2px #000;
}

/* 回答はここに書いてね */